server:
  port: ${PORT:8080}

spring:
  application:
    name: heritage-backend

  datasource:
    url: jdbc:mysql://yamanote.proxy.rlwy.net:39827/railway
    username: root
    password: gVJnYoFzCBbJVWVzpVUjbttaMuhiOKBA

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
